.logo_container {
  display: flex;
  align-items: center;

  & > a {
    text-decoration: none;
  }
}

.text_logo {
  margin-left: 11px;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;
}
