.question_block {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin: 64px 0px 30px 0px;
    color: #767E94;
    transition: 0.2s all linear;
    cursor: pointer;
    width:30%;
    align-self:center;

    &:hover {
        color: whitesmoke;
    }
}
