.arrowRight {
  padding-left:5px;
}
li {
  list-style: none;
  display: flex;
}
.suggest {
  margin-left: 16px;
}
a{
  color:#A8AEBF;
  text-decoration: none;
}
nav{
  display: flex;
  width: 30%;
  gap:48px;
}