.all{  /* newstyles */
    backdrop-filter: blur(12px);
    border-radius: 40px;
    width: 1200px;
}

.image{
    position: absolute;
    background-size: cover;
    height: 480px;
    width: 1200px;
    left: 120px;
    top: 120px;
    background: linear-gradient(180deg, rgba(54, 44, 146, 0.4) 0%, rgba(18, 98, 151, 0.4) 100%), url(./DetailsTitleImage.png);
    border-radius: 40px;
    background-size: cover;
}


.title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    gap: 8px;

    position: absolute;
    width: 560px;
    height: 144px;
    left: 200px;
    top: 528px;

    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(12px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 24px;

}

.film_name{

    height: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #BEB7FB;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.film_type{
    width: 318px;
    height: 40px;

    /* Heading/H3 */

    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    /* identical to box height, or 125% */

    display: flex;
    align-items: center;
    letter-spacing: -0.02em;

    /* Grey/50 */

    color: #EBEEF5;


    /* Inside auto layout */

    flex: none;
    order: 1;
    flex-grow: 0;
}