.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 282px;
  height: 480px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 12px;
  padding: 8px 8px 16px;
  gap: 24px;
  cursor: pointer;
  font-family: "Poppins_400";
  color: #EBEEF5;

  &:hover {
    transform: scale(1.03);
  }

  & .image {
    height: 400px;
    width: 100%;
    border-radius: 12px;
  }
}
