.card {
  position: relative;
  border-radius: 8px;
  transition: 150ms ease-in-out;
  width: 274px;
  cursor: pointer;
  background: rgba(32, 40, 62, 0.8);

  padding: 8px 8px 24px 8px;
  border-radius: 12px;//new
  display: flex;
  flex-direction: column;


  &:hover {
    transform: scale(1.05);

  }

  & .image {
    height: 398px;
    width: 100%;
    border-radius: 8px;

  }


}

.card:hover{
    background: rgba(66, 79, 119, 0.8);
}

.rate_container {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(5px);
  border-radius: 8px;
  padding-left: 10px;
  padding-right: 8px;
  height: 40px;
  margin-right: 190px;
  margin-top: 7px
}



.card_title {
  width: 87px;
  height: 24px;
  //font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 570;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #EBEEF5;
  flex: none;
  order: 0;
  flex-grow: 0;

}



.card_footer{
  margin-top: 20px;
}







