.card {
  position: relative;
  border-radius: 8px;
  transition: 150ms ease-in-out;
  width: 274px;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }

  & .image {
    height: 398px;
    width: 100%;
    border-radius: 5px;
  }
}

.rate_container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.card_title,
.card_about {
  //display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.card_title {
  text-transform: uppercase;
  color: #ffffff;
}

.card_about {
  color: #ff6b08;
}









//.card {
//  position: relative;
//  border-radius: 8px;
//  transition: 150ms ease-in-out;
//  cursor: pointer;
//  width: 274px;
//  //list-style: none;
//
//
//  &:hover {
//    transform: scale(1.03);
//  }
//
//  & .img {
//    height: 398px;
//    width: 100%;
//    border-radius: 8px;
//  }
//
//  & .card_title {
//    //margin-top: 24px;
//    //margin-bottom: 24px;
//    position: absolute;
//
//    font-weight: 600;
//
//    font-size: 16px;
//    line-height: 24px;
//    letter-spacing: 0.02em;
//    color: #EBEEF5;
//
//    //margin-left: 8px;
//  }
//}
//
//.rate {
//  position: absolute;
//  top: 18px;
//  left: 16px;
//}
//
//
//
