.card {
    padding: 0 8px;
    padding-top: 8px;
    width: 282px;
    border-radius: 12px;
    transition: 150ms ease-in-out;
    cursor: pointer;
    position: relative;
    height: auto;
    background: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(40px);
    display: flex;
    flex-direction:column;

    &:hover {
        transform: scale(1.04);
    }
    p{
        color:white;
    }
}

