.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding:0px 152px 0px 156px;
    align-items: center;
    height: 80px;
    width: 100%;
    background-color: #ccc;
    z-index: 1;
    background: #121829;
}
