.header{
  position: fixed; //change from fixed because Info
  top:0;
  height: 40px;
  width: 100%;
  background-color: #121829;
  background-image: url(../../assets/images/image.png);
  backdrop-filter: blur(20px);
  z-index: 1;
}

.svg{
  position: absolute;
  z-index: 3;
  margin: 20px 0 28px 125px;
}


.nav{
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: flex-end;
  z-index: 2;
  //background: rgba(18, 24, 41, 0.8);  //problem
  //backdrop-filter: blur(20px);
  background-color: #121829;
  background-image: url(../../assets/images/image.png);
  backdrop-filter: blur(20px);



}

.a:hover{
  color: #a8a5e8;
}

.nav a{
  padding: 20px;
  margin: 10px 60px 0 0;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #A8AEBF;
  flex: none;
  order: 0;
  flex-grow: 0;
}

//.header {
//  position: fixed;
//  top: 0;
//  display: flex;
//  justify-content: center;
//  align-items: center;
//  height: 80px;
//  width: 100%;
//  background-color: #ccc;
//  z-index: 1;
//}
