.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0px 152px 0px 156px;
    align-items: center;
    height: 80px;
    width: 100%;
    z-index: 1;
    background: rgba(18, 24, 41, 0.8);
    backdrop-filter: blur(20px);
}
