.layout_wrapper {
    //max-width: 1600px;
    background-image: url(../../assets/images/Background.svg);
    backdrop-filter: blur(20px);
    background-color: #121829;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height:100%;
    background-size:cover;
    .layout_block {
        display: flex;
        flex-direction: column;
        align-self: center;
        padding: 160px 158px 0px 158px;
        //min-height: 1000px;
        padding-bottom: 50px;
        max-width: 1600px;

        .card_wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 24px;
            width: 100%;
        }
    }
}
