.content {
  width:1200px;
  padding-top: 80px;
}
.input_checker{
  padding-top: 72px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
ul{
  padding: 0;
}
.list_info {
  font-family: "Poppins_600";
  font-size: 32px;
  line-height: 40px;
  padding: 24px 0;
  color: #767E94;

  & span {
    font-family: "Poppins_400";
    font-size: 16px;
    line-height: 24px;
}
}

.bottom {
  font-family: "Poppins_400";
  font-size: 20px;
  line-height: 32px;
  color: #767E94;
  padding-top: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  & button {
    margin-top: 40px;
    font-size: 14px;
    line-height: 24px;
    background: #7B6EF6;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 32px;
    gap: 8px;
    border-radius: 12px;
    color:#FFF;
  }
}

.large_image {
  width: 1200px;
  height: 480px;
  border-radius: 40px;
}

.title_box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  gap: 8px;
  position: absolute;
  width: 560px;
  height: 144px;
  left: 235px;
  top: 608px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 24px;
}
.title_genre{
  font-family: 'Poppins_400';
  font-size: 12px;
  line-height: 16px;
  color: #BEB7FB;
}
.title_name{
  font-family: 'Poppins_600';
  font-size: 32px;
  line-height: 40px;
  color: #EBEEF5;
}
.film_content {
  display: flex;
  flex-row:row;
  padding-top: 150px;
  justify-content: space-around;
}

.film_image {
  width: 480px;
  height: 720px;
  border-radius: 24px;
}
.prop_list {
  & > div:not(:last-child) {
    margin-bottom: 24px;
  }
}