.container {
  display: flex;
  justify-content: center;
  align-items: center;
  //   background-color: rgba(0, 0, 0, 0.46);
  //   background-image: url(../../assets/images/background-2.png);

  padding-top: 103px;
  padding-bottom: 56px;
}

.content {
  max-width: 1186px;
}

.title_wrapper {
  margin-bottom: 53px;
}

.content_head {
  margin-bottom: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
