.MainContainer {
        justify-content: center;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    width:100%;
}

p {
    color: #767E94;
    text-align: center;
    margin-top: 50px;
}

.LastButton {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 64px;
}

.LastMessage {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    color: #767E94;
}
.MainText {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left:140px;
}

.Category {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
}

.CategoryNum {
    margin-left: 10px;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #767E94;
}
@media only screen and (min-width: 1600px){
  .list{
    margin-left: 100px;
  }

}
@media only screen and (min-width: 1700px){
  .list{
  margin-left: 140px;
  }
}

@media only screen and (min-width: 1800px){
  .list{
    margin-left: 180px;
  }
}


@media only screen and (min-width: 1900px){
  .list{
    margin-left: 240px;
  }
}


@media only screen and (min-width: 3000px){
      .list{
    margin-left: 800px;
  }
}

@media only screen and (min-width: 4000px){
  .list{
    margin-left: 1280px;
  }
}


@media only screen and (min-width: 5000px){
  .list{
    margin-left: 1790px;
  }
}