.button {
    cursor: pointer;
    height: 56px;
    width: 156px;
    border-radius: 12px;
    background: #7B6EF6;
    font-size: 14px;
    font-weight:400;    
    color:whitesmoke;
    align-self:center;
    //margin-right:70px;
}
