.title_container {
  max-width: 588px;
}

.title {
  text-align: center;
  font-weight: 600;
  font-size: 64px;
  line-height: 80px;
  letter-spacing: -0.02em;
  color: #ffffff;
  margin-bottom: 39px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #aeb4c5;
}
