.detail_prop {
  display: flex;
  flex-direction: column;
  max-width: 480px;

  & > span:first-child {
    font-family: "Poppins_400";
    font-size: 16px;
    line-height: 32px;
    color: #767e94;
    margin-right: 8px;
  }
}

.second_span {
  font-family: "Poppins_400";
  font-size: 16px;
  line-height: 32px;
  color: #c3c8d4;
}