.detail_prop {
    display: flex;
    align-items: center;
    flex-direction:column;
    align-items:flex-start;
    & > span {
        font-weight: 400;
        font-size: 16px;
        line-height: 32px;
        color: #767e94;
        margin-right: 8px;
    }

    & span:last-child {
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        color: #c3c8d4;
    }
}
