.input_block {
    width: 607px;
    padding: 8px;
    height: 56px;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    display: flex;
    gap: 2px;

    input {
        width: 20%;
        background: none;
        border-radius: 8px;
        border: 0px;
        transition: 0.2s linear;
        color: #8E95A9;
        font-weight: 600;

        &:hover {
            border: 2px solid #7B6EF6;
        }
    }
}
