.input_wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: #121829;
  background-image: url(../../assets/images/image.png); //new
  backdrop-filter: blur(40px); //new
  border-radius: 12px;
  height: 56px;
  width: max-content;
  //margin-right: 365px;
  margin-right: 595px;
  position: relative;
  top:0px;
  margin-bottom: 60px;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_container {
  & input {
    display: none;
  }

  & label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #aeb4c5;
    padding: 0 32px;
    border-radius: 8px;
    cursor: pointer;
    height: 40px;

  }

  & input:checked ~ label {
    background: #7B6EF6;
    color: #ebe9fe;
  }
}











//
//.input_position{
//    display: flex;
//    justify-content: space-evenly;
//    margin-left: 125px;
//    margin-top: 60px;
//    background: rgba(18, 24, 41, 0.8);
//    /*opacity: 0.3;*/
//    padding: 5px;
//    margin-right: 713px;
//    border-radius: 10px;
//
//}
//
//.input_container{
//
//  & input {
//    display: none;
//  }
//
//  & label {
//    cursor: pointer;
//    border-radius: 6px;
//    text-align: center;
//    //display: inline-block;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    flex-direction: column-reverse;
//    font-size: 16px;
//    opacity: 40%;
//    background: rgba(18, 24, 41, 0.8);
//    color: #8E95A9;
//    font-weight: 600;
//    font-size: 16px;
//    line-height: 24px;
//    padding: 13px 20px; /*padding: 10px 20px;*/
//    gap: 20px;
//  }
//
//}




//.button button:focus {
//  cursor: pointer;
//  border: 1px solid #7B6EF6;
//  background-color: #7B6EF6;
//  opacity: 1;
//  color:white;
//  font-weight: 600;
//  font-size: 16px;
//  line-height: 24px;
//
//}



