.detail_prop {
  display: flex;
  flex-direction: column;
  max-width: 480px;

  & > span:first-child {
    font-family: "Poppins_600";
    font-weight: 700;
    font-size: 24px;
    color: #EBEEF5;
    padding-bottom: 24px;
  }
}

.second_span {
  font-family: "Poppins_400";
  font-size: 16px;
  line-height: 32px;
  color: #767e94;
  margin-right: 8px;
}