h1,
p,
ul {
    padding: 0;
}

ul{
    padding: 0;
}

li{
    list-style: none;
}

.container {
    background-color: #121829;
    background-image: url(../../assets/images/image.png);
    backdrop-filter: blur(20px);
    min-height: 100vh;
}

a {
    text-decoration: none;
}