.layout_wrapper {
    //max-width: 1600px;
    /*background-image: url(../../assets/images/Background.svg);
    backdrop-filter: blur(20px);
    background-color: #121829;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    /*background-size: cover;*/

    .layout_block {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
        padding: 120px 0px 0px 0px;
        min-height: 1000px;
        padding-bottom: 50px;
        max-width: 1200px;
        gap: 152px;

        .poster_block {
            overflow:hidden;
            width:1200px;
            height:480px;
            border-radius:40px;
            .poster {
                border-radius: 40px;
                overflow: hidden;
                width:100%;
            }
        }

        .details_block {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 80px;
            width: 88%;

            .detailImage {
                border-radius: 24px;
                width: 480px;
                height: 720px;
            }

            .props_block {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                gap: 22px;

                .title {
                    font-weight: 700;
                    font-size: 24px;
                    color: whitesmoke;
                }

                .subtitle {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: #8E95A9;
                }
            }

            .title_absolute {
                position: absolute;
                top: -230px;
                left: 0px;
                z-index: 1;
            }
        }
    }
}
