.MainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 900px;
    background-size: cover;

    .layout_block {
        display: flex;
        align-items: center;
        flex-direction: column;
        align-self: center;
        padding: 120px 0px 0px 0px;
        min-height: 1000px;
        padding-bottom: 50px;
        max-width: 1200px;
        gap: 152px;

        .poster {
            border-radius: 40px;
            width: 1200px;
            height: 480px;
        }

        .details_block {
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 80px;
            width: 100%;
            bottom:150px;
            top:35px;
            .smallposter{
                width: 480px;
                height: 720px;
                border-radius: 24px;
            }

            .props_block {
                display: flex;
                flex-direction: column;
                align-self: flex-start;
                gap: 22px;
                color:#C3C8D4;

                .title {
                    font-weight: 700;
                    font-size: 24px;
                    color: #EBEEF5;
                }

                .Paragraph {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 32px;
                    color: #8E95A9;
                    text-align:left;
                }

            }


        }
    }
}
.AboutFilm {
    width: 100%;
    position:relative;
    & > img {
        width: 480px;
        height: 720px;
        border-radius: 24px;
    }
}
.Block {
        position: absolute;
        top: -230px;
        left: 0px;
        z-index: 1;
}

